:root {
  --catppuccin_latte_rosewater: #dc8a78;
  --catppuccin_latte_flamingo: #dd7878;
  --catppuccin_latte_pink: #ea76cb;
  --catppuccin_latte_mauve: #8839ef;
  --catppuccin_latte_red: #d20f39;
  --catppuccin_latte_maroon: #e64553;
  --catppuccin_latte_peach: #fe640b;
  --catppuccin_latte_yellow: #df8e1d;
  --catppuccin_latte_green: #40a02b;
  --catppuccin_latte_teal: #179299;
  --catppuccin_latte_sky: #04a5e5;
  --catppuccin_latte_sapphire: #209fb5;
  --catppuccin_latte_blue: #1e66f5;
  --catppuccin_latte_lavender: #7287fd;
  --catppuccin_latte_text: #4c4f69;
  --catppuccin_latte_subtext1: #5c5f77;
  --catppuccin_latte_subtext0: #6c6f85;
  --catppuccin_latte_overlay2: #7c7f93;
  --catppuccin_latte_overlay1: #8c8fa1;
  --catppuccin_latte_overlay0: #9ca0b0;
  --catppuccin_latte_surface2: #acb0be;
  --catppuccin_latte_surface1: #bcc0cc;
  --catppuccin_latte_surface0: #ccd0da;
  --catppuccin_latte_base: #eff1f5;
  --catppuccin_latte_mantle: #e6e9ef;
  --catppuccin_latte_crust: #dce0e8;
}
