@import url("colors.css");

body {
  font-family: SF Pro Text;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: var(--ctp-latte-base);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.grid-item {
  width: 50px;
  height: 50px;
  background-color: var(--ctp-latte-mantle);
  border: 2px solid var(--ctp-latte-overlay0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px; /* Rounded corners */
  transition:
    background-color 0.3s,
    transform 0.2s; /* Animation for color and scale */
}

.tick {
  background-color: var(--ctp-mocha-green); /* Color for tick */
  font-size: 24px; /* Adjust size as needed */
  border: 2px solid var(--ctp-latte-green);
}

.cross {
  background-color: var(--ctp-mocha-red); /* Color for cross */
  font-size: 24px; /* Adjust size as needed */
  border: 2px solid var(--ctp-latte-red);
}

.grid-item:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  /* background-color: var(--ctp-latte-surface1); */
  /* border: 2px solid var(--ctp-latte-overlay2); */
}

#resetBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Animation */
  background-color: var(--ctp-latte-base); /* Change color on hover */
  color: var(--ctp-latte-text);
}

#resetBtn:hover {
  background-color: var(--ctp-mocha-base); /* Change color on hover */
  color: var(--ctp-mocha-text);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 8px; /* Rounded corners */
  animation: fadeIn 0.5s; /* Fade-in animation */
}

#closePopup {
  padding: 10px 20px;
  background-color: #333;
  color: red;
  border: none;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#closePopup:hover {
  background-color: #555;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--ctp-mocha-base-rgb) / 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: left;
  border-radius: 8px; /* Rounded corners */
  animation: slideDown 0.5s; /* Slide-down animation */
}

.close {
  color: var(--ctp-latte-red);
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%; /* Rounded close button */
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: var(--ctp-latte-text);
  text-decoration: none;
  cursor: pointer;
}

/* Terminal style for developer mode */
.terminal-style {
  background-color: var(--ctp-latte-mantle);
  color: var(--ctp-mocha-crust);
  font-family: "Fira Code CustomLigatures", monospace;
  padding: 15px;
  border-radius: 8px;
}
.terminal-style input {
  background-color: var(--ctp-latte-crust);
  color: var(--ctp-mocha-crust);
  font-family: "Fira Code CustomLigatures", monospace;
  border-radius: 8px;
  padding: 5px; /* Add padding to input fields */
}

.terminal-style input:focus {
  background-color: var(--ctp-latte-base);
  border: 2px solid var(--ctp-latte-green); /* Rounded corners */
}

.terminal-style button {
  background-color: var(--ctp-latte-base);
  color: var(--ctp-mocha-crust);
  font-family: "Fira Code CustomLigatures", monospace;
  border-radius: 8px; /* Rounded corners */
  padding: 5px; /* Add padding to input fields */
}

.terminal-style button:hover {
  background-color: var(--ctp-latte-base);
  border: 2px solid var(--ctp-latte-red);
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
